{% extends 'layout.html' %} 
{% load static %}
{% block head %}    
    {{ form.media }} 
{% endblock %}
{% block body %}
<form action="" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Change Password" />
</form>
<h3>Password Rules:</h3>
<p>Password must not be the same as the current password.</p>
<p>Minimum password length of 14 characters.</p>
<p>Password must use of both uppercase and lowercase letters.</p>
<p>Password must include of one or more numerical digits.</p>
<p>Password must include of special characters, such as @, #, $.</p>
<p>
	Password cannot contain the username or parts of the user’s full name, such as
	his first name.
</p>
{% endblock %}
